@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    background-color: #6ad182;
}
.navbar {
    background-color: #28A745;
    color: #343A40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 8px;
}

.navbar h1 {
    font-size: 24px;
    margin: 0;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;  
}

.navbar ul {
    list-style: none;
    display: flex;
    padding-right: 40px;
    margin: 0;
}

.navbar ul li {
    margin-left: 40px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #343A40;
    cursor: pointer;
    padding: auto;

}

.navbar a:hover {
    color: #ffffff;   
    text-decoration: underline; 
}
header{
    cursor: pointer;
}
a{
    color: #343A40;
    text-decoration: none;
}


