body{
    background-image: url('/images/body1-image.jpg');
    background-size: contain; /* Ensures the full image is visible */
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black; 

}
.home-intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    align-self: auto;
    padding: 30px;
    position:relative;
    top:80px;
    left: 80px;
    padding: 40px;
    width: 600px; 
    height: auto; 
    background-color:  #FF9800;
    border-radius: 40px;
    opacity: 75%;
}
.home-intro:hover{
    cursor: pointer;
    opacity: 100%;
    font-weight: bolder;
    flex: 1; 
}
.wrapper {
    flex: 1; 
}
