.home-intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    align-self: auto;
    padding: 30px;
    position:relative;
    top:50px;
    left: 150px;
    padding: 40px;
    width: 530px; 
    height: auto; 
    background-color:  #008080;
    opacity: 40%;
    han
}