body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #58f56f 0%, #d9e7ff 100%);
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    text-align: center;
    background-color: #2E8B57;
    color: white;
    padding: 20px;
    font-size: 1.5em;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.page-editor-container {
    max-width: 900px;
    margin: 20px auto;
    background: #87CEEB;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.page-editor-title {
    font-size: 2em;
    font-weight: 700;
    color: #2E8B57;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.page-editor-title-description {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
}


.page-editor-content {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.page-editor-content:hover {
    transform: scale(1.02);
}

.page-editor-content img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.page-editor-content-left1-title {
    font-size: 1.5em;
    font-weight: 600;
    color: #2E8B57;
    font-family: 'Montserrat', sans-serif;
}

.page-editor-content-left1-description {
    font-size: 1em;
    color: #242323;
    line-height: 1.5;
    margin-top: 10px;
}

.page-editor-link a {
    display: inline-block;
    text-decoration: none;
    background: #2E8B57;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s;
}

.page-editor-link a:hover {
    background: #1c5b3e;
}

@media (max-width: 768px) {
    .page-editor-content {
        flex-direction: column;
        text-align: center;
    }

    .page-editor-content img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}    
