footer {
    position: fixed; 
}


table {
    border-collapse: collapse;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
    height: 100%;
   
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #2D6A4F;
    color: white;
}

table tr:nth-child(even) {
    background-color: #2d6a4f5d;
}

table tr:hover {
    background-color: #ddd;
}
